

  <title>数据字典</title>
  
  <div class="layui-fluid">
    <div class="layui-card" id="left_module">
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-list" data-type="data_add" ekper="wkrjsystemnew/wkrjDataDictionary/addDataDictionary">添加</button>
          <button class="layui-btn layuiadmin-btn-list" data-type="data_update" ekper="wkrjsystemnew/wkrjDataDictionary/updateDataDictionary">修改</button>
          <button class="layui-btn layuiadmin-btn-list" data-type="data_del" ekper="wkrjsystemnew/wkrjdata/deldata">删除</button>
        </div>
        <table id=lay_data_list lay-filter="lay_data_list"></table> 
      </div>
    </div>
  </div>
  <script src="./main/views/wkrj/dataDictionary/js/dataDictionary.js"></script>
  <script src="./main/views/public/btn_authority.js"></script>