<div class="layui-form" lay-filter="layuiadmin-form-addExpert" style="padding: 20px 0 0 0;">
	<div class="layui-form-item">
		<label class="layui-form-label">姓名</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
			</script>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">手机号码</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="phone" value="{{ d.params.phone || '' }}" lay-verify="required|phone" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
			</script>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline">
			<input type="button" lay-submit lay-filter="LAY-addExpert-submit" value="确认" class="layui-btn">
			<input type="button" value="取消" class="layui-btn" onclick="close_win()">
		</div>
	</div>
</div>
<script>
layui.use(['admin', 'form', 'upload'], function(){
  var $ = layui.$
  ,form = layui.form
  ,admin = layui.admin
  ,upload = layui.upload;
  
})
function close_win(){
  parent.layer.closeAll();
} 
</script>

