  <style>
  	.layui-form-item .layui-input-inline {
	    width: 330px;
	}
  </style>
  <!-- 下拉树插件 -->
  <script src="./main/views/component/select_tree/formSelects-v4.js"></script>
  <link rel="stylesheet" href="./main/views/component/select_tree/formSelects-v4.css">
  
  <div class="layui-form" lay-filter="layuiadmin-module-update-list" id="layuiadmin-module-update-list"style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">菜单名称</label>
      <div class="layui-input-inline">
        <script type="text/html" template>
          <input type="text" name="moduleName" value="{{ d.params.module_name || '' }}" lay-verify="required" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
        </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">上级菜单</label>
      <div class="layui-input-inline">
        <script type="text/html" template lay-done="layui.data.sendParams(d.params)">
			<select name="moduleParentId" xm-select="example6_4" xm-select-radio>
    		</select>
        </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">菜单地址</label>
      <div class="layui-input-inline">
        <script type="text/html" template>
          <input type="text" name="moduleUrl" value="{{ d.params.module_url || '' }}"  placeholder="请输入菜单地址" autocomplete="off" class="layui-input">
        </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">菜单顺序</label>
      <div class="layui-input-inline">
        <script type="text/html" template>
          <input type="number" name="moduleOrder" value="{{ d.params.module_order || 0 }}" min="0" lay-verify="required|number|number_new" value="0" autocomplete="off" class="layui-input">
        </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否显示</label>
      <div class="layui-input-inline">
        <script type="text/html" template>
          <input type="radio" name="moduleIsDisplay" value="0" title="显示" {{ d.params.module_is_display === '显示' ? 'checked':'' }}>
          <input type="radio" name="moduleIsDisplay" value="1" title="隐藏" {{ d.params.module_is_display === '隐藏' ? 'checked' : '' }}>
        </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">图标</label>
      <div class="layui-input-inline">
        <script type="text/html" template lay-done="layui.data.sendIcon(d.params)">
        </script>
        <select name="moduleIconNew" id="module_icon_new">
        </select>
      </div>
    </div>
    <div class="layui-form-item" style="display: none;">
      <label class="layui-form-label">图标</label>
      <button type="button" class="layui-btn" id="module_img">
          <i class="layui-icon">&#xe67c;</i>上传图标
      </button>
      <script type="text/html" template>
      	<input type="hidden" name="moduleIcon" id="module_icon" value="{{ d.params.module_icon || '' }}">
      </script>
      <div id="icon_div" style="margin-left:50px;">
      <script type="text/html" template>
		{{# 
			if(d.params.module_icon !== '' && d.params.module_icon !== null&&d.params.module_icon !== undefined){
				return "<img height='40px' width='40px' src='"+d.params.module_icon+"'><a href='javascript:;' style='color:red' onclick='delicon(this)'>【删除】</a>";
			} 
		}}
	  </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">备注信息</label>
      <div class="layui-input-inline">
        <script type="text/html" template>
          <input type="text" name="moduleOther" value="{{ d.params.module_other || '' }}"  placeholder="请输入备注信息" autocomplete="off" class="layui-input">
        </script>
      </div>
    </div>
    <script type="text/html" template>
      <input type="hidden" name="moduleId" value="{{ d.params.module_id || '' }}">
    </script>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-inline">
        <input type="button" lay-submit lay-filter="layuiadmin-module-update-submit" value="提交" class="layui-btn">
        <input type="button" onclick="close_data()" value="取消" class="layui-btn">
      </div>
    </div>
  </div>
  <script>
$(function(){
layui.use(['upload','layer'],function () {
    var upload = layui.upload,layer = layui.layer;
    var form=layui.form;
    form.render();
        //自定义验证
	form.verify({
	    number_new: function(value, item){ //value：表单的值、item：表单的DOM对象
	      if(value<0){
	        return '不能小于0';
	      }
	    }
	});	
    //普通图片上传
    var uploadInst = upload.render({
        elem: '#module_img',//绑定的元素
        url: 'wkrjsystemnew/upload/uploadModule?access_token='+layui.data('layuiAdmin').access_token,
        //data: {access_token: layui.data('layuiAdmin').access_token},
        auto:true,//是否自动上传
        accept:"images",//指定允许上传的文件类型
        multiple:true,//支持多文件上传
        size: 1024*2,
        done: function(res, index, upload){ //假设code=0代表上传成功
        	if(isObjNotEmpty(res.data)){
        		if(res.data.length>0){
        			$("#module_icon").val(res.data[0].fileurl);
        			$("#icon_div").html("<img height='40px' width='40px' src='"+res.data[0].fileurl+"'> <a href='javascript:;' style='color:red' onclick='delicon(this)'>【删除】</a>");
        		}
        	}
        }
    });
});	
})

function delicon(d){
	$(d).parent().html("");
	$("#module_icon").val("");
}
layui.data.sendParams = function(params){
	var module_parent_id=params.module_parent_id;
		layui.formSelects.data('example6_4', 'server', {
            url: 'wkrjsystemnew/wkrjModule/getGridInfo_tree?access_token='+layui.data('layuiAdmin').access_token,//模块树
            data:{module_id:params.module_id},
            success:function(){
            	if(isObjNotEmpty(module_parent_id)){
            		layui.formSelects.value('example6_4', [module_parent_id], true);
            	}
            }
        }); 
}
 function renderForm(){
    layui.use('form', function(){
      var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
      form.render();
    });
  }
layui.data.sendIcon = function(params){
	layui.use(['upload','layer','admin','selectForm'],function () {
	var admin = layui.admin;
	var selectForm= layui.selectForm;//将form 对select的渲染重新修改重新
		admin.req({
			url:'wkrjsystemnew/wkrjModule/getIcon',
			success:function(data){
				var html = " <option value=''>请选择图标</option>";
				if(isObjNotEmpty(data.data)){
					$.each(data.data,function(key,value){
						html += "<option value='"+value.name+"'  icon='"+value.icon+"'>"+value.name+"</option>";
					});
				}
				$("#module_icon_new").append(html);
				$("#module_icon_new").val(params.module_icon_new);
				selectForm.render('select');
			}
		});
	});
}
function close_data(){
	  parent.layer.closeAll();
	}
	</script>
