<title>设置我的密码</title>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body" pad15>
          
          <div class="layui-form" lay-filter="">
            <div class="layui-form-item">
              <label class="layui-form-label">当前密码</label>
              <div class="layui-input-inline">
                <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">6到16个字符</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">确认新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="repassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
//layui.use('set', layui.factory('set'));
layui.use(['admin', 'form', 'upload','set'], function(){
	layui.factory('set');
	var $ = layui.$
    ,form = layui.form
    ,admin = layui.admin;
	
	 //监听提交
    form.on('submit(setmypass)', function(data){
      var data = data.field; //获取提交的字段
       admin.req({
          url: 'wkrjsystemnew/wkrjUser/updatePwd'
          ,type: 'post'
          ,data: data
          ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 success 则是只要 http 为 200 就会执行
        	  try {
        		  res=eval('('+res+')');
    			} catch (e) {}
    			if(res.code=="0" || res.code==0){
    				if(res.success){
        				layer.msg("密码修改成功");
        				layui.admin.events.logout();
    				}else{
        				layer.msg(res.msg);
        				return false;
        			}
    				
    			}
          }
      }); 
    });
});
</script>