<div class="layui-form" lay-filter="layuiadmin-form-addSchoolForm_fromCity" style="padding: 20px 0 0 0;">
	<input type="hidden" id="dept_type" name="dept_type">
  <div class="layui-form-item">
    <label class="layui-form-label">学校名称</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="dept_name" value="{{ d.params.dept_name || '' }}" lay-verify="required" placeholder="请输入学校名称" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">学段</label>
    <div class="layui-input-inline">
      <script type="text/html" template lay-url="wkrj/orgSchools/getSchoolType" lay-done="layui.data.getSchoolTypeDone(d)">
	  	{{# for(var i=0;i<d.data.length;i++){ }}
			<input type="checkbox" lay-filter="schoolTypeFilter" value="{{d.data[i].school_type_name}}" lay-skin="primary" title="{{d.data[i].school_type_name}}">
		{{# } }}
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">班级总数</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="number" min="1" name="school_classNum" value="{{ d.params.school_classNum || '' }}" placeholder="请输入班级总数" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">学生总数</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="number" min="1" name="school_stuNum" value="{{ d.params.school_stuNum || '' }}"  placeholder="请输入学生总数" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">所属区县</label>
    <div class="layui-input-inline">
    	<script type="text/html" template lay-url="wkrj/orgSchools/getOrgByParentId" lay-done="layui.data.getOrgDone1(d)">
      		<select lay-verify="required" name="dept_parent_id">
				<option value=''>请选择区县</option>
              		{{# for(var i=0;i<d.data.length;i++){ }}
						<option value="{{d.data[i].dept_id}}">{{d.data[i].dept_name}}</option>
					{{# } }}
			</select>      
        </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="dept_other" value="{{ d.params.dept_other || '' }}"  autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="number" min="1" name="dept_order"  value="{{ d.params.dept_order || '' }}" lay-verify="number"  autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="LAY-portal-school-submit-add-fromCity" value="保存" class="layui-btn">
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'form', 'upload'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,form = layui.form
  ,upload = layui.upload;
 
  form.on('checkbox(schoolTypeFilter)',function(data){
      if(data.elem.checked){
          $("#dept_type").val($("#dept_type").val()+data.elem.title+",");
      }else{
          $("#dept_type").val($("#dept_type").val().replace(eval("/"+data.elem.title+",/g"), ""));
      }
      //alert($("#dept_type").val());
  });
  
  //上传头像
/*   upload.render({
    elem: '#layuiadmin-upload-useradmin'
    ,url: './json/upload/demo.js'
    ,accept: 'images'
    ,method: 'get'
    ,acceptMime: 'image/*'
    ,done: function(res){
      $(this.item).prev("div").children("input").val(res.data.src)
    }
  }); */
})

layui.data.getSchoolTypeDone = function(d){
	layui.use(['form'], function(){
	    var form = layui.form;
	     form.render(null, 'layuiadmin-form-addSchoolForm_fromCity'); //渲染该模板下的动态表单
	  });
}

layui.data.getOrgDone1 = function(d){
	layui.use(['form'], function(){
	    var form = layui.form;
	     form.render(null, 'layuiadmin-form-addSchoolForm_fromCity'); //渲染该模板下的动态表单
	  });
}
</script>