

  <title>组织机构</title>
  
  <div class="layui-fluid">
    <div class="layui-card" id="left_module">
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-list" data-type="dept_add" ekper="wkrjsystemnew/wkrjDept/addDept">添加</button>
          <button class="layui-btn layuiadmin-btn-list" data-type="dept_update" ekper="wkrjsystemnew/wkrjDept/updateDept">修改</button>
          <button class="layui-btn layuiadmin-btn-list" data-type="dept_del" ekper="wkrjsystemnew/wkrjDept/delDept">删除</button>
        </div>
        <table id="lay_dept_list" lay-filter="lay_dept_list"></table> 
      </div>
    </div>
  </div>
  <script src="./main/views/wkrj/dept/js/dept.js"></script>
  <script src="./main/views/public/btn_authority.js"></script>
