<title>轮播图管理</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">创客空间门户管理</a>
    <a><cite>轮播图管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">

    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="addViewPager">发布</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="updateViewPager">修改</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="delViewPager">删除</button>
      </div>
      
      <table id="viewpager-table-page" lay-filter="viewpager-table-page"></table>
    

    </div>
  </div>
</div>
 <style>
.laytable-cell-1-title_pic{
		width:60px;
		height:60px;
}
</style> 
  <script type="text/html" id="imgTpl"> 
        <img style="display: inline-block; width: 100%; height: 100%;" src= {{ d.pic_url }}>
      </script> 

<script>
//var ue = UE.getEditor('editor');
layui.use(['admin', 'useradmin', 'table'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,form = layui.form;
  
  form.render(null, 'layadmin-viewpagerfront-formlist');
  
  //table
      table.render({
      elem: '#viewpager-table-page'
      ,url: 'wkrj/viewPager/viewPagerList'
      ,cols: [[
             {type:'checkbox', fixed: 'left'}
            ,{field:'pic_url', title: '轮播图图片',width:'10%',fixed: 'left', templet:'#imgTpl'}
   	   		,{field:'sort',width:'15%',title: '排序'}  	      
            ,{field:'pic_url',width:'72%',title: '图片地址'}	 
      ]]
      ,page: true
  	,done: function(res, curr, count){
  		var response = layui.setter.response;
  		//登录状态失效，清除本地 access_token，并强制跳转到登入页
  		if(res[response.statusName] == response.statusCode.logout){
  			view.exit();
  		}
  	}
  	,where: { //通过 request 头传递
  		access_token: layui.data('layuiAdmin').access_token
  	}
    });
  
  //监听搜索
  form.on('submit(LAY-viewpager-front-search)', function(data){
	  var field = data.field;
    //执行重载
    table.reload('viewpager-table-page', {
      where: field
    });
  });

  //事件
  var active = {
   addViewPager: function(){
      admin.popup({
        title: '发布图片'
        ,area: ['700px', '500px']
        ,id: 'LAY-popup-viewpager-add'
        ,success: function(layero, index){
          view(this.id).render('portal/viewpager/viewpagerform').done(function(){
            form.render(null, 'layuiadmin-form-viewpageradmin');
            //监听提交
            form.on('submit(LAY-viewpager-front-submit)', function(data){
              var field = data.field; //获取提交的字段
              //提交 Ajax 成功后，关闭当前弹层并重载表格
              //$.ajax({});
               admin.req({
                  url: 'wkrj/viewPager/addOrUpdateViewPager'
                  ,type: 'post'
                  ,data: field
                  ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
						 try {
                		  res=eval('('+res+')');
            			} catch (e) {}
            			if(res.success){
            				layer.msg("发布成功");
            	              layer.close(index); //执行关闭 
            				layui.table.reload('viewpager-table-page'); //重载表格
            			}else {
            				layer.msg("发布失败");
						}
                  }
                 }); 
             
            });
          });
        }
      });
    },
    updateViewPager:function(){
    	var checkStatus = table.checkStatus('viewpager-table-page'),
	  	    data = checkStatus.data;
	  	    if(data.length != 1){
	  	    	layer.msg("请选择一条信息进行编辑！");
	  	    	return;
	  	    }
        admin.popup({
            title: '编辑资料'
            ,area: ['700px', '500px']
            ,id: 'LAY-popup-viewpager-update'
            ,success: function(layero, index){
        		
              view(this.id).render('portal/viewpager/viewpagerform',data[0]).done(function(){
           	  
           	  	 $("#btImg_div").html("<img src=\""+data[0].pic_url+"\" style=\"width:200px;height:150px;\">");
                 form.render(null, 'layuiadmin-form-viewpageradmin');
                
                //监听提交
                form.on('submit(LAY-viewpager-front-submit)', function(data){
                  var field = data.field; //获取提交的字段
                  //提交 Ajax 成功后，关闭当前弹层并重载表格
                  //$.ajax({});
                   admin.req({
                      url: 'wkrj/viewPager/addOrUpdateViewPager'
                      ,type: 'post'
                      ,data: field
                      ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
                    	  try {
                    		  res=eval('('+res+')');
                			} catch (e) {}
                			if(res.success){
                				layer.msg("编辑成功");
                				layui.table.reload('viewpager-table-page'); //重载表格
                                layer.close(index);
                			}else {
                				layer.msg("编辑失败");
							}
                       
                      }
                     }); 
                 
                   //执行关闭 
                });
              });
            }
          });
        },
        delViewPager: function(){
            var checkStatus = table.checkStatus('viewpager-table-page')
            ,checkData = checkStatus.data; //得到选中的数据

            if(checkData.length != 1){
              return layer.msg('请选择一条数据');
            }
       
              layer.confirm('确定删除吗？', function(index) {
            	   admin.req({
                       url: 'wkrj/viewPager/delViewPager'
                       ,type: 'post'
                       ,data: {viewpager_id:checkData[0].viewpager_id,pic_url:checkData[0].pic_url}
                       ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
                    	   try {
                     		  res=eval('('+res+')');
                 			} catch (e) {}
                 			if(res.success){
                				layer.msg("删除成功");
                				layui.table.reload('viewpager-table-page'); //重载表格
                                layer.close(index);
                			}else {
                				layer.msg("删除失败");
							}
                        
                       }
                      }); 
               
              });
          }
  };
  
  $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>
