

<div class="layui-form" lay-filter="layuiadmin-form-viewpageradmin" style="padding: 20px 0 0 0;">
	 <script type="text/html" template>
	<input type="hidden" name="viewpager_id" value="{{ d.params.viewpager_id || '' }}">
	</script>
  <div class="layui-form-item">
    <label class="layui-form-label">轮播图图片</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="hidden" id="pic_url" name="pic_url" value="{{ d.params.pic_url|| '' }}" lay-verify="required"  autocomplete="off" class="layui-input">
      </script>
    </div>
     <button style="float: left;" type="button" class="layui-btn" id="layuiadmin-upload-viewpager">上传图片</button> 
    <div id="btImg_div"></div>
    
  </div>

 <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <input type="text" name="sort" value="{{ d.params.sort || '' }}" lay-verify="required"autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-block">
      <input type="button" lay-submit lay-filter="LAY-viewpager-front-submit" value="确认" class="layui-btn">
    </div>
  </div>
</div>
<script>

layui.use(['admin', 'form', 'upload'], function(){
  var $ = layui.$
  ,form = layui.form
  ,upload = layui.upload;

  upload.render({
    elem: '#layuiadmin-upload-viewpager'
    ,url: 'wkrj/viewPager/uploadViewPager'
    ,accept: 'images'
    ,method: 'get'
    ,acceptMime: 'image/*'
    ,done: function(res){
       $("#pic_url").val(res.path)
       $("#btImg_div").html("<img src=\""+res.path+"\" style=\"width:200px;height:150px;\">");
      
    }
  });
  
  
 
})
</script>