<title>市级管理</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a><cite>创客空间门户管理</cite></a>
    <a><cite>组织机构管理</cite></a>
    <a><cite>市级管理</cite></a>
  </div>
</div>

<div class="layui-fluid">   
  <div class="layui-card">
    
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-admin" data-type="saveCity">添加</button>
        <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">修改</button>
      </div>
      <table id="city-cityManage-table" lay-filter="city-cityManage-table"></table>  
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'useradmin', 'table'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,form = layui.form;
  
  form.render(null, 'layadmin-useradmin-formlist');
  

	/* form.on('submit(LAY-user-front-search)', function(data){
		var field = data.field;
		
		//执行重载
		table.reload('LAY-user-manage', {
		  where: field
		});
	}); */
  
	table.render({
		 elem: '#city-cityManage-table'
		,url:'wkrj/cityManage/listAllCity'
		,cols: [[
	         {type:'checkbox'}
			,{field:'dept_name', title: '名称'}
			,{field:'dept_type', title: '部门类型'}
			,{field:'dept_order', title: '显示顺序'}
			,{field:'dept_other', title: '备注信息'}
			]]
		,page: true
		,done: function(res, curr, count){
	  		var response = layui.setter.response;
	  		//登录状态失效，清除本地 access_token，并强制跳转到登入页
	  		if(res[response.statusName] == response.statusCode.logout){
	  			view.exit();
	  		}
	  	}
	  	,where: { //通过 request 头传递
	  		access_token: layui.data('layuiAdmin').access_token
	  	}
	});

  //事件
  var active = {
    batchdel: function(){
      var checkStatus = table.checkStatus('city-cityManage-table')
      data = checkStatus.data; //得到选中的数据
      if(data.length != 1){
        return layer.msg('请选择一条数据');
      }
      admin.popup({
        title: '修改市级信息'
        ,area: ['500px', '450px']
        ,id: 'LAY-popup-city-edit'
        ,success: function(layero, index){
          	view(this.id).render('portal/city/updateCity',data[0]).done(function(){
        
            form.render(null, 'layuiadmin-form-editCity');
            
            //监听提交
            form.on('submit(LAY-City-submit)', function(data){
              var field = data.field; //获取提交的字段
              //提交 Ajax 成功后，关闭当前弹层并重载表格
              admin.req({
                  url: 'wkrj/cityManage/updateCity'
                  ,type: 'get'
                  ,data: field
                  ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
						if(res.success){
							layer.msg("修改成功");
						}else{
							layer.msg(res.msg);
						}
		              layer.close(index); //执行关闭 
		              layui.table.reload('city-cityManage-table'); //重载表格
	               }
              });
            });
          });
        }
      });
    }
	  ,saveCity: function(){
	      admin.popup({
	        title: '添加市级信息'
	        ,area: ['500px', '450px']
	        ,id: 'LAY-popup-city-add'
	        ,success: function(layero, index){
	          view(this.id).render('portal/city/saveCity').done(function(){
	        
	            form.render(null, 'layuiadmin-form-saveCity');
	            
	            //监听提交
	            form.on('submit(LAY-City-submit)', function(data){
	              var field = data.field; //获取提交的字段
	              //提交 Ajax 成功后，关闭当前弹层并重载表格
	              admin.req({
	                  url: 'wkrj/cityManage/saveCity'
	                  ,type: 'get'
	                  ,data: field
	                  ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
							if(res.success){
								layer.msg("添加成功");
							}else{
								layer.msg(res.msg);
							}
							layer.close(index); //执行关闭 
							layui.table.reload('city-cityManage-table'); //重载表格
	                  }
	              });
	            });
	          });
	        }
	      });
	    }
	  }  
  $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>