<title>企业管理</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">创客空间门户管理</a>
    <a><cite>企业管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-enterprisefront-formlist">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">企业名称</label>
          <div class="layui-input-block">
            <input type="text" name="enterprise_name" placeholder="请输入（可模糊查询）" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-enterprise-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="addEnterprise">添加</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="updateEnterprise">修改</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="delEnterprise">删除</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="istopEnterprise">置顶/取消置顶</button>
      </div>
      
      <table id="enterprise-table-page" lay-filter="enterprise-table-page"></table>
    

    </div>
  </div>
</div>
 <style>
.laytable-cell-1-title_pic{
		width:60px;
		height:60px;
}
</style> 
  <script type="text/html" id="imgLogo"> 
        <img style="display: inline-block; width: 100%; height: 100%;" src= {{ d.enterprise_logo }}>
      </script> 
  <script type="text/html" id="imgBkg"> 
        <img style="display: inline-block; width: 100%; height: 100%;" src= {{ d.enterprise_background }}>
      </script> 

<script>
layui.use(['admin', 'useradmin', 'table'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,form = layui.form;
  
  form.render(null, 'layadmin-enterprisefront-formlist');
  
  //table
      table.render({
      elem: '#enterprise-table-page'
      ,url: 'wkrj/enterprise/enterpriseList'
      ,cols: [[
               {type:'checkbox', fixed: 'left'}
            ,{field:'enterprise_logo', title: '企业logo',width:'10%',fixed: 'left', templet:'#imgLogo'}
  	   		,{field:'enterprise_background', title: '企业背景',width:'10%',fixed: 'left', templet:'#imgBkg'}
  	   	    ,{field:'enterprise_name',width:'10%',title: '企业名称'}	 
  	   	    ,{field:'project_name',width:'10%',title: '项目名称'}	 
  	   	    ,{field:'project_type',width:'10%',title: '项目类型'}	 
  	   	    ,{field:'project_infor',width:'33%',title: '项目简介'}	
  	   	 ,{field:'istop',width:'7%',title: '是否置顶',templet: '#istop'}  
  	   	,{field:'sort',width:'5%',title: '排序'}  	   	   
      ]]
      ,page: true
      ,done: function(res, curr, count){
  		var response = layui.setter.response;
  		//登录状态失效，清除本地 access_token，并强制跳转到登入页
  		if(res[response.statusName] == response.statusCode.logout){
  			view.exit();
  		}
  	}
  	,where: { //通过 request 头传递
  		access_token: layui.data('layuiAdmin').access_token
  	}
    });
  
  
  //监听搜索
  form.on('submit(LAY-enterprise-front-search)', function(data){
	  var field = data.field;
    //执行重载
    table.reload('enterprise-table-page', {
      where: field
    });
  });

  //事件
  var active = {
   addEnterprise: function(){
      admin.popup({
        title: '企业管理'
        ,area: ['500px', '600px']
        ,id: 'LAY-popup-enterprise-add'
        ,success: function(layero, index){
          view(this.id).render('portal/enterprise/enterpriseform').done(function(){
            form.render(null, 'layuiadmin-form-enterpriseadmin');
            //监听提交
            form.on('submit(LAY-enterprise-front-submit)', function(data){
              var field = data.field; //获取提交的字段
              //提交 Ajax 成功后，关闭当前弹层并重载表格
              //$.ajax({});
               admin.req({
                  url: 'wkrj/enterprise/addEnterprise'
                  ,type: 'post'
                  ,data: field
                  ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
						 try {
                		  res=eval('('+res+')');
            			} catch (e) {}
            			if(res.success){
            				layer.msg("添加成功");
            	            layer.close(index); //执行关闭 
            				layui.table.reload('enterprise-table-page'); //重载表格
            			}else {
            				layer.msg("添加失败");
						}
                  }
                 }); 
             
              

             // layer.msg('发布成功');
            });
          });
        }
      });
    },
    updateEnterprise:function(){
    	var checkStatus = table.checkStatus('enterprise-table-page'),
	  	    data = checkStatus.data;
	  	    if(data.length != 1){
	  	    	layer.msg("请选择一条信息进行编辑！");
	  	    	return;
	  	    }
        admin.popup({
            title: '编辑企业'
            ,area: ['500px', '450px']
            ,id: 'LAY-popup-enterprise-update'
            ,success: function(layero, index){
              view(this.id).render('portal/enterprise/enterpriseform',data[0]).done(function(){
            	  
            	  $("#btImg_div").html("<img src=\""+data[0].enterprise_logo+"\" style=\"width:200px;height:150px;\">");
            	  $("#btImg_div2").html("<img src=\""+data[0].enterprise_background+"\" style=\"width:200px;height:150px;\">");
                form.render(null, 'layuiadmin-form-enterpriseadmin');
                
                //监听提交
                form.on('submit(LAY-enterprise-front-submit)', function(data){
                  var field = data.field; //获取提交的字段
                  //提交 Ajax 成功后，关闭当前弹层并重载表格
                  //$.ajax({});
                   admin.req({
                      url: 'wkrj/enterprise/updateEnterprise'
                      ,type: 'post'
                      ,data: field
                      ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
                    	  try {
                    		  res=eval('('+res+')');
                			} catch (e) {}
                			if(res.success){
                				layer.msg("编辑成功");
                				layui.table.reload('enterprise-table-page'); //重载表格
                                layer.close(index);
                			}else {
                				layer.msg("编辑失败");
							}
                       
                      }
                     }); 
                 
                   //执行关闭 
                });
              });
            }
          });
        },
        delEnterprise: function(){
            var checkStatus = table.checkStatus('enterprise-table-page')
            ,checkData = checkStatus.data; //得到选中的数据

            if(checkData.length === 0){
              return layer.msg('请选择数据');
            }
            var enterpriseIds = "";
            var enterpriseLogos = "";
            var enterpriseBackgrounds = "";
	  	      for(var i=0;i<checkData.length;i++){
	  	    	enterpriseIds += checkData[i].enterprise_id+",";
	  	    	enterpriseLogos += checkData[i].enterprise_logo+",";
	  	    	enterpriseBackgrounds += checkData[i].enterprise_background+",";
	  	      }
	  	      if(null != enterpriseIds && ""!= enterpriseIds){
	  	    	enterpriseIds = enterpriseIds.substring(0, enterpriseIds.length-1);
	  	    	enterpriseLogos = enterpriseLogos.substring(0, enterpriseLogos.length-1);
	  	    	enterpriseBackgrounds = enterpriseBackgrounds.substring(0, enterpriseBackgrounds.length-1);
              layer.confirm('确定删除吗？', function(index) {
            	   admin.req({
                       url: 'wkrj/enterprise/delEnterprise'
                       ,type: 'post'
                       ,data: {ids:enterpriseIds,enterpriseLogos:enterpriseLogos,enterpriseBackgrounds:enterpriseBackgrounds}
                       ,success: function(res){ 
                    	   try {
                      		  res=eval('('+res+')');
                  			} catch (e) {}
                  			if(res.success){
                 				layer.msg("删除成功");
                 				layui.table.reload('enterprise-table-page'); //重载表格
                                 layer.close(index);
                 			}else {
                 				layer.msg("删除失败");
 							}
                        
                       }
                      }); 
               
              });
	  	      }
          },istopEnterprise:function(){
			   var checkStatus = table.checkStatus('enterprise-table-page')
	  	  	      ,data = checkStatus.data;
	  	  	      if(data.length != 1){
	  	  	    	  layer.msg("请选择一条信息进行置顶！");
	  	  	    	  return;
	  	  	      }
	  	  	  
	  	     	var istop = data[0].istop;
	  	     	if (istop==1) {
	  	     		istop=2;
				}else{
				
					istop=1;
				}
	  	      var enterpriseId = data[0].enterprise_id;
	  	      if(null != enterpriseId && ""!= enterpriseId){
 
	  	       layer.confirm('确定置顶或取消吗？', function(index) {
            	   admin.req({
                       url: 'wkrj/enterprise/istopEnterprise'
                       ,type: 'post'
                       ,data: {id:enterpriseId,istop:istop}
                       ,success: function(res){ //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
                    	   try {
                     		  res=eval('('+res+')');
                 			} catch (e) {}
                 			if(res.success){
                				layer.msg("置顶或取消成功")
                				layui.table.reload('enterprise-table-page'); //重载表格
                			}else {
                				layer.msg("置顶或取消失败！");
							}
                        
                       }
                      }); 
               
              });
   
	        }
			
		}
  };
  
  $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>
<script type="text/html" id="istop">
    {{#  if(d.istop==1){ }}
		<span style="color:red">是</span>
	{{#  } else { }}
		否
	{{#  } }}
</script>